.meus-filmes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meus-filmes h1{

    margin-bottom: 20px;
}

.meus-filmes span{

    font-size: 20px;
}

.meus-filmes ul {

    width: 720px;
}

.meus-filmes ul li {

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.meus-filmes div {

    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a {

    text-decoration: none;
    color: rgb(255, 204, 95);
    margin-right: 20px;
}

.meus-filmes button {

    transition: all 0.3s;
    font-size: 15px;
    border: 0;
    outline: none;
    padding: 1px;
    border-radius: 5px;
    margin-left: 0;
    cursor: pointer;
}

.meus-filmes button:hover {

    background-color: rgb(255, 204, 95);
    color: white;
}